.noto {
  font-family: "Noto Serif", serif;
}
.orange {
  color: #e95a08;
}
p,
li {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
h2 {
  font-size: 50px;
  font-weight: bold;
}
h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}
h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.navigation {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  align-items: center;
  padding: 20px;
  margin: 30px auto;
}
.navigation ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navigation ul a {
  text-decoration: none;
}
.home {
  color: #252432;
  font-weight: bold;
}
.shop {
  color: #8987a1;
}
.about {
  color: #8987a1;
}
.cart {
  color: #000;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 80%;
  margin: 90px auto;
}
.banner-content {
  max-width: 50%;
  align-items: flex-end;
}
.banner-content h1 {
  font-size: 4rem;
  line-height: 1.2;
  text-align: left;
}
.banner-content p {
  text-align: left;
}
.banner-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
.card-title {
  margin: 30px auto;
  max-width: 80%;
  text-align: center;
}

.card-title p {
  max-width: 890px;
  margin: auto;
}
.card-block {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-block div {
  text-align: center;
}
.card-block div img {
  height: auto;
  width: 100%;
}
button {
  background-color: #e95a08;
  padding: auto;
  height: 50px;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
button:hover {
  background-color: #1458d6;
}
.flower-store {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 211px auto;
}
.flower-store div {
  width: 50%;
}
.store-image {
  display: flex;
}
.badge {
  position: relative;
  bottom: 140px;
  right: 190px;
  height: 298px;
  width: auto;
}

.plant-lover {
  margin: 39px 0 39px 63px;
}
.deal-title {
  text-align: center;
  margin: auto;
}
.deal-title p {
  max-width: 60%;
  margin: auto;
}
.deals {
  display: flex;
  gap: 30px;
}

.deals {
  max-width: 80%;
  margin: 120px auto;
  gap: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bloom-text {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("assets/deal-bloom.png");
  width: 367px;
  height: 201px;
  border-radius: 14px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ana-text {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("assets/deal-ana.png");
  height: 198px;
  width: 367px;
  border-radius: 14px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.zabo-text {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("assets/deal-zabo.png");
  height: 425px;
  width: 753px;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.zabo-text h4 {
  font-size: 40px;
}
.ana-text,
.bloom-text,
.zabo-text,
a {
  color: #ffffff;
}

.newsletter {
  background-image: url(assets/news-letter-bg.png);
  background-color: #cccccc;
  height: 540px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.newsletter-text {
  text-align: center;
  position: relative;
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.nl-form {
  display: flex;
  height: 50px;
  max-width: 80%;
  margin: auto;
}
.nl-form input {
  padding: 20px;
  border: none;
  width: 80%;
}
.Subscribe {
  width: 20%;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 160px;
}
.footer-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-link a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.social-link img {
  margin-right: 20px;
}
@media screen and (max-width: 576px) {
  p,
  li {
    font-size: 14px;
  }

  .navigation {
    align-items: center;
    margin-top: 67px;
    padding: 0;
  }
  .navigation img {
    height: 38px;
    width: 20%;
  }
  .home,
  .shop,
  .about {
    display: none;
  }
  .banner {
    max-width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner-content {
    max-width: 100%;
    text-align: center;
    margin: 0 20px;
  }
  .banner-content h1 {
    font-size: 1.5rem;
    margin-bottom: 13px;
  }
  .banner-image {
    display: block;
    width: 100%;
    height: auto;
  }
  .card-section {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  h2 {
    font-size: 1.25rem;
    margin-bottom: 16px;
  }
  .card-block {
    grid-template-columns: repeat(2, 1fr);
    max-width: 380px;
  }
  .card-block div {
    max-width: 100%;
  }
  .hidden {
    display: none;
  }
  button {
    padding: 10px 29px;
  }
  .card-block div img {
    height: 195px;
  }
  .flower-store {
    max-width: 100%;
    flex-direction: column;
    margin: 40px 0;
  }
  .flower-store div {
    width: 90%;
  }
  .badge {
    display: none;
  }
  .store-image {
  }
  .bg {
    height: 396px;
    width: 358px;
  }
  .plant-lover {
    margin: 15px 0;
  }
  .plant-lover h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .plant-lover ul {
    padding-left: 10px;
    margin-left: 5px;
  }
  .Subscribe {
    font-size: 10;
    width: 30%;
  }
  .deal-title p {
    max-width: 90%;
    margin: auto;
  }
  .deals {
    flex-direction: column;
  }
  .zabo-text {
    width: 367px;
    height: 201px;
  }
  .zabo-text h4 {
    font-size: 20px;
  }
  .newsletter {
    height: 275px;
  }
  .newsletter-text {
    width: 90%;
  }
  .nl-form {
    max-width: 100%;
  }
  .Subscribe {
    width: 40%;
  }
  footer {
    padding: 10px;
    flex-direction: column;
    gap: 20px;
  }
}
